.profile {
    padding-top: 30px;

    .profile-content {
        .p-img {
            width: 100%;
            height: 256px;
            border-radius: 100%;
            border: 1px solid #eee;
        }

        .p-head-text {
            font-size: $font24;
            color: $main-color;
            margin-bottom: 23px;
        }

        h3 {
            color: $color3;
            font-size: $font21;
            margin-bottom: 56px;
        }

        .jop {
            i {
                color: $color1;
                margin-left: 15px;
                margin-bottom: 19px;
            }

            span {
                color: $color1;
                font-size: $font16;
            }
        }

        .places {
            margin-top: 30px;
            @extend %shadow;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 15px;
            border-radius: 10px;

            img {
                display: inline-block;
            }

            .icon {
                margin-left: 5px;
            }

            .falg {
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }

            h2 {
                font-size: $font24;
                color: $color2;
                margin-bottom: 18px;
            }
        }

        .p-info {
            @extend %shadow;
            margin-top: 28px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 15px;
            border-radius: 10px;

            h2 {
                font-size: $font24;
                color: $color2;
                margin-bottom: 18px;
            }
            p{
                font-size: $font16;
                span{
                    color: $color1;
                }
            }
        }
        .exp,
        .edu,
        .lang{
            @extend %shadow;
            margin-top: 28px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 15px;
            padding-left: 15px;
            border-radius: 10px;
            h2 {
                font-size: $font24;
                color: $color2;
                
            }
            a{
                font-size: 57px;
                padding-top: -20px;     
                display: block;       
                margin-top: -29px;        
                margin-left: 15px;
            }
            h4{
                color: $main-color;
                font-size: 21px;
                margin-bottom: 25px;
                margin-top: 20px;
            }
            h5{
                color: $color1;
                margin-top: 20px;
            }
            p{
                color: $color1;
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
        .lang{
            .lang1{
                color: $color3;
                font-size: $font21;
            }
            .lang2{
                color: $color1;
                font-size: $font18;
                margin-bottom: 45px;
            }
        }
    }
    .sess{
        box-shadow: 0px 0px 3px rgba(0,0,0,.16);
        padding: 24px 10px 24px 10px;
        border-radius: 5px;
        .icon-img{
            box-shadow: 0px 0px 3px rgba(0,0,0,.16); 
            padding: 15px 0 15px 0;
            border-radius: 3px; 
        }
    }
}
.extn{
    padding-top: 29px;
    h1{
        color: $color3;
        font-size: $font21;
        margin-bottom: 30px;
        font-weight: bold;
    }
    img{
        width: 100%;
        height: 65px;
        border-radius: 100%;
        border: 1px solid #eeeeee;
       
    }
    h2{
        font-size: $font16;
        color: $main-color;
        margin-top: 10px;
    }
    p{
        color: $color1;
        font-size: 14px;
    }
}