$main-color:#333333;
$color1:#777777;
$color2:#13A651;
$color3:#D84861;
$color4:#F3FFF8;


$font16:16px;
$font18:18px;
$font21:21px;
$font24:24px;
$font28:28px;
$font30:30px;
$font36:36px;
$font48:48px;
$font64:64px;
